In [1]:
# Notebook used to explore the data and the possible models
import pandas as pd

df = pd.read_csv('C:/Users/Alex/PycharmProjects/barcelona-apartments-2/data/processed/barcelona_apartments2.csv')

In [2]:
# Create a onehot encoder category for the districts in order to do stratified train test split
df['district_cat'] = df['eixample'].astype(str) + df['ciutat_vella'].astype(str) + df['horta_guinardo'].astype(str) + df['gracia'].astype(str) + df['les_corts'].astype(str) + df['nou_barris'].astype(str) + df['sant_andreu'].astype(str) + df['sant_marti'].astype(str) + df['sants_montjuic'].astype(str) + df['sarria_sant_gervasi'].astype(str)

In [3]:
df['district_cat'].value_counts()

1000000000    4154
0100000000    2957
0000000001    2162
0000000100    1256
0001000000    1195
0000000010    1097
0000100000     891
0010000000     358
0000001000     291
0000010000     193
Name: district_cat, dtype: int64

In [4]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2, random_state=42, stratify=df['district_cat'])

In [5]:
test['district_cat'].value_counts()

1000000000    831
0100000000    592
0000000001    432
0000000100    251
0001000000    239
0000000010    219
0000100000    178
0010000000     72
0000001000     58
0000010000     39
Name: district_cat, dtype: int64

In [6]:
for set_ in (train, test):
    set_.drop('district_cat', axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [7]:
train.corr()

,price,rooms,bathrooms,sizem2,eixample,ciutat_vella,horta_guinardo,gracia,les_corts,nou_barris,sant_andreu,sant_marti,sants_montjuic,sarria_sant_gervasi
price,1.000000,0.415059,0.640682,0.773746,0.062551,-0.103499,-0.077744,-0.066928,0.052454,-0.062097,-0.066340,-0.024618,-0.118039,0.240916
rooms,0.415059,1.000000,0.584873,0.647846,0.084591,-0.269772,0.019301,-0.006187,0.103957,0.002052,0.017393,0.018280,-0.040574,0.132223
bathrooms,0.640682,0.584873,1.000000,0.745229,0.051567,-0.122181,-0.062552,-0.085091,0.098841,-0.057240,-0.046823,-0.033361,-0.106432,0.241175
sizem2,0.773746,0.647846,0.745229,1.000000,0.038384,-0.157713,-0.041258,-0.060794,0.097792,-0.039600,-0.040504,-0.030870,-0.103900,0.258791
eixample,0.062551,0.084591,0.051567,0.038384,1.000000,-0.319074,-0.100289,-0.189019,-0.161413,-0.073168,-0.090311,-0.194248,-0.180486,-0.264012
ciutat_vella,-0.103499,-0.269772,-0.122181,-0.157713,-0.319074,1.000000,-0.080120,-0.151004,-0.128951,-0.058453,-0.072148,-0.155182,-0.144188,-0.210916
horta_guinardo,-0.077744,0.019301,-0.062552,-0.041258,-0.100289,-0.080120,1.000000,-0.047463,-0.040531,-0.018373,-0.022677,-0.048776,-0.045320,-0.066294
gracia,-0.066928,-0.006187,-0.085091,-0.060794,-0.189019,-0.151004,-0.047463,1.000000,-0.076390,-0.034627,-0.042740,-0.091929,-0.085416,-0.124946
les_corts,0.052454,0.103957,0.098841,0.097792,-0.161413,-0.128951,-0.040531,-0.076390,1.000000,-0.029570,-0.036498,-0.078503,-0.072942,-0.106698
nou_barris,-0.062097,0.002052,-0.057240,-0.039600,-0.073168,-0.058453,-0.018373,-0.034627,-0.029570,1.000000,-0.016545,-0.035585,-0.033064,-0.048366
sant_andreu,-0.066340,0.017393,-0.046823,-0.040504,-0.090311,-0.072148,-0.022677,-0.042740,-0.036498,-0.016545,1.000000,-0.043923,-0.040811,-0.059697
sant_marti,-0.024618,0.018280,-0.033361,-0.030870,-0.194248,-0.155182,-0.048776,-0.091929,-0.078503,-0.035585,-0.043923,1.000000,-0.087780,-0.128403
sants_montjuic,-0.118039,-0.040574,-0.106432,-0.103900,-0.180486,-0.144188,-0.045320,-0.085416,-0.072942,-0.033064,-0.040811,-0.087780,1.000000,-0.119306
sarria_sant_gervasi,0.240916,0.132223,0.241175,0.258791,-0.264012,-0.210916,-0.066294,-0.124946,-0.106698,-0.048366,-0.059697,-0.128403,-0.119306,1.000000

In [8]:
train.head(-1)

,price,rooms,bathrooms,sizem2,eixample,ciutat_vella,horta_guinardo,gracia,les_corts,nou_barris,sant_andreu,sant_marti,sants_montjuic,sarria_sant_gervasi
3860,1600,3,2,95,1,0,0,0,0,0,0,0,0,0
14260,2500,1,1,65,0,0,0,0,0,0,0,0,0,1
13170,1300,4,2,101,0,0,0,0,0,0,0,1,0,0
12177,7200,2,3,164,0,0,0,0,0,0,0,1,0,0
3972,1100,3,1,90,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10623,900,1,1,40,0,1,0,0,0,0,0,0,0,0
3314,950,3,1,60,0,0,0,1,0,0,0,0,0,0
4845,1250,2,1,65,0,0,0,0,0,0,0,0,1,0
12176,1975,3,2,144,1,0,0,0,0,0,0,0,0,0
13799,900,3,1,71,0,0,0,1,0,0,0,0,0,0

In [9]:
X_train = train.drop("price", axis=1)
y_train = train["price"].copy()

In [10]:
X_train.head()

,rooms,bathrooms,sizem2,eixample,ciutat_vella,horta_guinardo,gracia,les_corts,nou_barris,sant_andreu,sant_marti,sants_montjuic,sarria_sant_gervasi
3860,3,2,95,1,0,0,0,0,0,0,0,0,0
14260,1,1,65,0,0,0,0,0,0,0,0,0,1
13170,4,2,101,0,0,0,0,0,0,0,1,0,0
12177,2,3,164,0,0,0,0,0,0,0,1,0,0
3972,3,1,90,1,0,0,0,0,0,0,0,0,0

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train[["rooms", "bathrooms", "sizem2"]] = scaler.fit_transform(X_train[["rooms", "bathrooms", "sizem2"]])

In [12]:
X_train.head()

,rooms,bathrooms,sizem2,eixample,ciutat_vella,horta_guinardo,gracia,les_corts,nou_barris,sant_andreu,sant_marti,sants_montjuic,sarria_sant_gervasi
3860,0.524238,0.690048,0.168824,1,0,0,0,0,0,0,0,0,0
14260,-1.332966,-0.713066,-0.423741,0,0,0,0,0,0,0,0,0,1
13170,1.452839,0.690048,0.287337,0,0,0,0,0,0,0,1,0,0
12177,-0.404364,2.093162,1.531722,0,0,0,0,0,0,0,1,0,0
3972,0.524238,-0.713066,0.070063,1,0,0,0,0,0,0,0,0,0

In [13]:
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

In [14]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()

scores = cross_val_score(lin_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5)
tree_rmse_scores = np.sqrt(-scores)
tree_rmse_scores.mean()

640.0687042826592

In [15]:
lin_reg.fit(X_train, y_train)
predictions = lin_reg.predict(X_train)
mean_squared_error(predictions, y_train, squared=False)

638.9243374674056

In [16]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2, include_bias=False)

X_poly = poly.fit_transform(X_train)

In [17]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=100, solver="cholesky")

scores = cross_val_score(ridge, X_poly, y_train, scoring="neg_mean_squared_error", cv=5)
tree_rmse_scores = np.sqrt(-scores)
tree_rmse_scores.mean()

629.1481508320545

In [18]:
ridge.fit(X_poly, y_train)
predictions = ridge.predict(X_poly)
mean_squared_error(predictions, y_train, squared=False)

622.6724428764722

In [29]:
from sklearn.model_selection import GridSearchCV

param_grid =[
    {'solver':["cholesky"], 'alpha':[13, 14, 15, 16, 17, 18, 19]}
]

grid_search = GridSearchCV(ridge, param_grid, cv=5, scoring='neg_mean_squared_error', return_train_score=True)

grid_search.fit(X_poly, y_train)

GridSearchCV(cv=5, estimator=Ridge(alpha=100, solver='cholesky'),
             param_grid=[{'alpha': [13, 14, 15, 16, 17, 18, 19],
                          'solver': ['cholesky']}],
             return_train_score=True, scoring='neg_mean_squared_error')

In [30]:
results = grid_search.cv_results_
for mean, params in zip(results["mean_test_score"], results["params"]):
    print(np.sqrt(-mean), params)

628.8114189241362 {'alpha': 13, 'solver': 'cholesky'}
628.811106753516 {'alpha': 14, 'solver': 'cholesky'}
628.811232944139 {'alpha': 15, 'solver': 'cholesky'}
628.8117609735092 {'alpha': 16, 'solver': 'cholesky'}
628.812658869294 {'alpha': 17, 'solver': 'cholesky'}
628.8138984457817 {'alpha': 18, 'solver': 'cholesky'}
628.815454698719 {'alpha': 19, 'solver': 'cholesky'}

In [31]:
grid_search.best_params_

{'alpha': 14, 'solver': 'cholesky'}